 body {
     margin: 0;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     box-sizing: border-box;
     scroll-behavior: smooth;
 }
 
 .nav-container {
     border-bottom: 1px solid #d5b3ff;
     padding: 1rem 0;
     display: flex;
 }
 
 .nav-items-1 {
     display: flex;
     font-size: 14px;
     margin: 0;
     padding: 0;
 }
 
 #nav-logo {
     margin-left: -1.1rem;
     padding: 0;
 }
 
 .logo {
     width: 100%;
 }
 
 .txt-links {
     padding: 0 10px;
     color: #000;
 }
 
 .txt-link {
     padding: 0 1rem;
     color: #ff764d;
 }
 
 #Nav-link-1 {
     opacity: 0;
 }
 
 .bx-plus {
     position: absolute;
     padding: 2.5px;
 }
 
 .toggle-menu {
     opacity: 0;
 }
 
 input[type="checkbox"] {
     display: none;
 }
 
 ul {
     list-style-type: none;
 }
 
 a {
     text-decoration: none;
 }
 
 .nav-links-1 {
     border: 1px solid purple;
     padding: 1rem;
     color: #000;
 }
 
 .nav-link-1 {
     padding: 1rem;
     color: #ff764d;
 }
 
 .nav-items-2 {
     margin-left: 8.5rem;
     font-weight: bold;
 }
 
 .nav-links-2 {
     color: #0000ff;
     font-size: 14px;
 }
 
 .nav-link-2 {
     padding: 0 1rem;
     color: #000;
     font-size: 10px;
 }
 
 .semi-nav-cont {
     margin-left: 1.3rem;
 }
 
 .semi-nav {
     margin: 0;
     display: flex;
     padding: 1rem 0;
     font-size: 12px;
     font-weight: bold;
 }
 
 .semi-nav-link {
     padding: 1rem;
     color: #ff764d;
 }
 
 .semi-nav-links {
     padding: 1rem;
     color: #000;
 }
 
 .semi-nav-links-1 {
     padding: 1rem;
     color: #0000ff;
 }
 /* section starts here */
 
 .box {
     height: 350px;
     text-align: center;
 }
 
 .box h1 {
     font-size: 5.5em;
     width: 70%;
     line-height: 6rem;
     margin-left: 10rem;
     margin-top: 4rem;
 }
 
 .box a {
     font-size: 2em;
     color: #0000ff;
 }
 
 .bx-a {
     margin-top: -3rem;
 }
 
 .bx1-img {
     width: 100%;
     margin-top: -3rem;
 }
 
 .bx1-img-cont {
     width: 100%;
 }
 
 .box-2 {
     margin-top: -1.5rem;
     background-color: #fbfa61;
     padding: 8rem 0 8rem 6.5rem;
 }
 
 .box-2 p {
     font-size: 19.5px;
     line-height: 1.8rem;
     margin-bottom: 7rem;
     width: 94%;
 }
 
 .box-2 a {
     font-size: 1.1em;
     color: #0000ff;
 }
 
 .box-2 h2 {
     font-size: 1.8em;
 }
 
 .bx2-col-2-1 {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 1.5rem;
 }
 
 .bx2-img {
     width: 100%;
     height: 100%;
 }
 
 .box-3 {
     padding-top: 6rem;
     text-align: center;
 }
 
 .box-3 h1 {
     font-size: 5.5em;
     width: 50%;
     line-height: 6rem;
     margin-left: 1.5rem;
 }
 
 .bx3-img-cont {
     width: 100%;
 }
 
 .bx3-img {
     margin: 1.5rem;
     width: 83%;
 }
 
 .bx3-p-cont {
     margin-top: -2.2rem;
     padding-left: -10rem;
 }
 
 .bx3-p {
     font-size: 1rem;
     width: 80%;
     font-weight: bold;
 }
 
 .box-4 {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     padding: 3rem 0;
     margin-left: 6.7rem;
     line-height: 1.7rem;
 }
 
 .box-4 h2 {
     font-size: 1.8rem;
 }
 
 .bx4-col-1 {
     font-size: 1.5em;
     width: 85%;
 }
 
 .bx4-col-2 {
     font-size: 1.5em;
     width: 85%;
     margin-left: -1rem;
 }
 
 .box-5 h2 {
     font-size: 7em;
     line-height: 7rem;
     width: 80%;
     margin-left: 6.5rem;
 }
 
 .box-5 {
     padding-top: 4rem;
 }
 
 .bx5-img-cont {
     width: 100%;
 }
 
 .bx5-img {
     width: 86%;
     margin: 4rem 0 0 6.5rem;
 }
 
 .bx5-p {
     font-size: 1.1rem;
     padding-left: 4.6rem;
     width: 60%;
     margin-left: 2rem;
     margin-top: 8px;
 }
 
 .box-6 {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     padding: 3rem 0;
     margin-left: 6.7rem;
     line-height: 1.5rem;
 }
 
 .box-6 h2 {
     font-size: 1.5rem;
 }
 
 .bx6-col-1 {
     font-size: 1.3em;
     width: 85%;
 }
 
 .bx6-col-2 {
     font-size: 1.3em;
     width: 85%;
     margin-left: -1rem;
 }
 
 .border {
     padding: 8rem 0;
 }
 
 .border-cont {
     border: 2px solid blue;
     width: 83%;
     height: 30%;
     text-align: center;
     margin-left: 6.6rem;
     padding: 1rem 0;
 }
 
 .border-link {
     font-size: 1.6em;
     color: #0000ff;
 }
 
 .box-7 {
     background-color: aquamarine;
     padding: 4rem 8rem;
 }
 
 .bx7-col-1-bx1 {
     padding: 3rem 0;
 }
 
 .bx7-col-1-h1 {
     font-size: 3.8em;
     line-height: 5.8rem;
     width: 70%;
 }
 
 .bx7-col-1-bx1 {
     width: 50%;
     font-size: 1.4em;
     padding-left: 8;
     line-height: 2rem;
 }
 
 .IMG-cont-1 {
     width: 70%;
 }
 
 .IMG-1 {
     width: 100%;
 }
 
 #Para {
     font-size: 14px;
     font-weight: bold;
     margin-bottom: 2px;
 }
 
 .IMG-cont-2 {
     width: 50%;
 }
 
 .IMG-2 {
     width: 100%;
 }
 
 #Para-2 {
     width: 50%;
     font-weight: bold;
     margin-top: 2px;
     font-size: 14px;
 }
 
 .col-5-6 {
     width: 100%;
     margin: 4rem 0;
 }
 
 .col-5-7 {
     display: flex;
 }
 
 .IMG-cont-3 {
     width: 50%;
     height: 100%;
 }
 
 .IMG-3 {
     width: 50%;
     height: 100%;
 }
 
 #Link-cont {
     width: 30%;
     font-size: 1.4em;
     margin-left: -14rem;
     padding: 4rem 0;
 }
 
 #Link {
     color: #0000ff;
 }
 
 .box-8 h1 {
     font-size: 5em;
     padding: 4rem 8rem;
 }
 
 .bx8-cont {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 2rem;
 }
 
 .bx8-Img-cont {
     width: 100%;
 }
 
 .bx8-Img {
     width: 100%;
 }
 
 .bx8-col-2 {
     font-size: 1.4em;
     padding: 4.5rem 6rem;
     line-height: 2rem;
 }
 
 .bx8-col-3 {
     font-size: 1.2em;
     padding: 6rem 8rem;
     width: 50%;
     line-height: 2rem;
 }
 
 .img-p {
     font-weight: bold;
     margin-top: 3px;
     padding-left: 10px;
 }
 
 .box-9 {
     margin: 7rem auto;
 }
 
 .bx9-cont {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 2rem;
 }
 
 .box-9 h1 {
     font-size: 5em;
     padding: 4rem 8rem;
 }
 
 .bx9-h2 {
     padding-top: 2rem;
 }
 
 .bx9-img-cont {
     width: 100%;
 }
 
 .bx9-img {
     padding-top: 14rem;
     margin-top: -14rem;
     width: 100%;
 }
 
 .bx9-col-1 {
     font-size: 1.2em;
     padding: 12rem 8rem;
     width: 50%;
     line-height: 1.5rem;
     margin-top: -13rem;
 }
 
 .bx9-col-2 {
     /* border: 1px solid black; */
 }
 
 .bx9-col-3 {
     font-size: 1.2em;
     padding: 4.5rem 6rem;
     line-height: 2rem;
     margin-top: -10rem;
 }
 
 .bx9-Img {
     margin-top: -10rem;
     width: 100%;
 }
 
 .box-10 {
     background-color: #fadee8;
     padding: 6rem 7rem;
 }
 
 .box-10 h1 {
     font-size: 5em;
 }
 
 .box-10 h2 {
     font-size: 2em;
     padding-top: 3rem;
 }
 
 .bx10-bx-1,
 .bx10-cont-2 {
     font-size: 1.3em;
     width: 45%;
     line-height: 1.9rem;
 }
 
 .bx10-cont,
 .bx10-bx-2 {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }
 
 .bx10-col-1,
 .bx10-col-2,
 .bx10-col-3 {
     font-size: 1.4em;
     width: 80%;
 }
 
 .box-11 {
     padding: 6rem 26rem;
 }
 
 .box-11 a {
     color: #0000ff;
     font-size: 2em;
     font-weight: bold;
 }
 
 .box-12 {
     display: flex;
     line-height: 2.7rem;
 }
 
 .bx12-col-1 {
     width: 50%;
     background-color: yellow;
     padding: 6rem 8rem;
     height: 463px;
     margin-top: 2px;
 }
 
 .bx12-h1 {
     font-size: 4.3em;
 }
 
 .bx12-p {
     font-size: 1.8em;
 }
 
 .bx12-a {
     color: #0000ff;
     font-size: 1.8em;
 }
 
 .bx12-col-2 {
     width: 50%;
     height: 100%;
 }
 
 .bx12-img-cont {
     width: 100%;
 }
 
 .bx12-img {
     height: 100%;
     width: 100%;
 }
 /* section ends here */
 /* footer-starts here  */
 
 footer {
     padding: 4rem 6rem;
 }
 
 .footer-cont {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     line-height: 1.5rem;
 }
 
 .f-box-1 {
     line-height: 1.5rem;
     margin-top: 1.5rem;
 }
 
 .h1-text {
     font-size: 50px;
 }
 
 .input-btn-cont {
     display: flex;
 }
 
 #Text {
     height: 35px;
     width: 260px;
     border: none;
     background-color: #e8e5e480;
 }
 
 #Sign {
     background-color: #0000ff;
     color: #fff;
     font-weight: bold;
     font-size: 15px;
     height: 38px;
     width: 100px;
     border: none;
 }
 
 .f-link {
     color: #000;
     font-size: 1rem;
 }
 
 .f-box-2 {
     display: flex;
     justify-content: space-between;
     padding-top: 6rem;
     font-size: 1rem;
 }
 
 #select {
     padding: 5px;
     width: 100px;
     height: 30px;
     border: none;
     background-color: #e8e5e480;
 }
 
 #select-1 {
     padding: 5px;
     width: 150px;
     height: 30px;
     border: none;
     background-color: #e8e5e480;
 }
 
 #f-box-2-links {
     color: #000;
     margin: auto 5px;
 }
 
 .f-box-3 {
     display: flex;
 }
 /* footer-ends here  */
 /* screen size less than or equal to 400px */
 
 @media screen and (max-width:900px) {
     .nav-container {
         display: block;
         padding: 0;
     }
     .nav-items-1 {
         display: none;
         font-weight: bold;
         margin: 0;
     }
     .nav-link-1 {
         padding: 0;
         font-size: 1.2em;
     }
     .nav-links-1 {
         padding: 0;
         font-size: 1.2em;
     }
     .logo {
         width: 17%;
         padding-left: 1.8rem;
         margin: 0;
     }
     .toggle-menu {
         left: 11rem;
         top: 2.2rem;
         position: relative;
         opacity: 1;
         width: 15%;
     }
     .bx-chevron-down {
         position: absolute;
         top: 2px;
     }
     input[type="checkbox"] {
         display: none;
         left: 5rem;
         position: relative;
     }
     input[type="checkbox"]:checked~ul {
         display: block;
         height: 700px;
         line-height: 4rem;
         background-color: blue;
     }
     ul {
         display: none;
     }
     .txt-link {
         color: #ff764d;
     }
     .txt-links {
         color: #fff;
         font-weight: lighter;
         padding: 0 1rem;
     }
     .bx-plus {
         opacity: 0;
     }
     #Nav-link-1 {
         opacity: 1;
         padding: 0 1rem;
     }
     .Nav-Links-1 {
         color: #fff;
     }
     .Nav-Link-1 {
         color: #fff;
         font-weight: lighter;
         font-size: 12px;
     }
     .nav-items-2 {
         display: none;
     }
     .nav-links-2 {
         font-size: 1.2em;
     }
     .nav-links-2 {
         font-size: 1.2em;
     }
     /* nav ends here */
     .semi-nav-cont {
         padding: 0;
         max-width: 100%;
         overflow-x: scroll;
         margin: 0;
     }
     .semi-nav {
         padding: 1rem;
         margin: 0;
         display: inline-flex;
         width: 300%;
     }
     .semi-nav-link {
         padding: 0;
         font-size: 1.2em;
     }
     .semi-nav-links {
         padding: 0 1rem;
         font-size: 1.2em;
     }
     .semi-nav-links-1 {
         padding: 0 1rem;
         font-size: 1.2em;
     }
     /* semi nav ends here */
     .box {
         font-size: 1em;
         padding: 1.7rem;
         margin: 1.4rem 0;
         height: 100%;
         text-align: justify;
     }
     .box h1 {
         font-size: 3.5em;
         line-height: 4rem;
         padding: 0;
         margin: 1rem 0;
         width: 100%;
     }
     .bx-a {
         margin-top: 1rem;
     }
     .box-2 {
         padding: 0 0 2.5rem 0;
         font-size: 1em;
     }
     .box-2 h1 {
         padding: 0 0 0 1.5rem;
         width: 93%;
     }
     .box-2 p {
         padding-left: 1.7rem;
         width: 90%;
     }
     .bx2-col-1 {
         padding: 2rem 0 1rem 0;
         margin: 0;
     }
     .box-2 h2 {
         font-size: 1.4em;
         padding-left: 1.8rem;
         margin-top: -6rem;
     }
     .bx2-col-2-1 {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 2px;
         margin: 0;
         padding: 0;
     }
     .bx2-col-2 {
         margin: 0;
         padding: 0;
     }
     .box-3 {
         margin: 0;
         padding: 0;
         text-align: justify;
     }
     .box-3 h1 {
         text-align: center;
         font-size: 3em;
         line-height: 3rem;
         padding: 1.7rem;
         width: 70%;
     }
     .bx3-img-cont {
         width: 100%;
     }
     .bx3-img {
         margin: 0;
         width: 100%;
     }
     .bx3-p {
         font-size: 14px;
         padding: 2rem 5px 0 5px;
         margin: 0;
         width: 95%;
     }
     .box-4 {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         padding: 0 1.7rem 0 1.7rem;
         margin: 0;
     }
     .box-4 h2 {
         font-size: 1.3rem;
     }
     .bx4-col-1 {
         font-size: 1.2em;
         width: 100%;
     }
     .bx4-col-2 {
         font-size: 1.2em;
         width: 100%;
         padding: 0;
         margin: 0;
     }
     .box-5 {
         padding: 0;
         margin: 0;
         font-size: 1rem;
     }
     .box-5 h2 {
         font-size: 2.8em;
         padding: 1.5rem 0;
         margin: 0;
         line-height: 3rem;
         text-align: center;
         width: 100%;
     }
     .bx5-img-cont {
         padding: 0;
         margin: 0;
     }
     .bx5-img {
         padding: 0;
         margin: 0;
         width: 100%;
     }
     .bx5-p {
         font-size: 14px;
         width: 98%;
         padding: 0 4px 0 4px;
         margin: 0;
         line-height: 1rem;
     }
     .box-6 {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         padding: 2rem 2rem 0 2rem;
         margin: 0;
         line-height: 1rem;
         width: 80%;
     }
     .box-6 h2 {
         font-size: 1.3rem;
         width: 100%;
     }
     .bx6-col-1 {
         font-size: 1.2em;
         line-height: 1.4rem;
         padding: 0 1rem 0 1rem;
     }
     .bx6-col-2 {
         font-size: 1.2em;
         margin: 0;
         padding: 0 1rem 0 1rem;
         line-height: 1.4rem;
     }
     .border {
         padding: 2rem 3rem;
         margin: 0;
     }
     .border-cont {
         margin: 0;
         height: 30%;
         width: 100%;
     }
     .border-link {
         font-size: 1.3em;
     }
     .box-7 {
         padding: 3rem 0;
     }
     .bx7-col-1-h1 {
         font-size: 1.5em;
         line-height: 3.4rem;
         font-size: 1.8em;
         width: 70%;
         padding: 0 3rem;
     }
     .bx7-col-1-bx1 {
         padding: 0 3rem;
         width: 72%;
         font-size: 1.2em;
         line-height: 1.5rem;
     }
     .IMG-cont-1 {
         width: 100%;
         margin: 0;
     }
     .IMG-1 {
         width: 100%;
         margin: 0;
     }
     #Para {
         font-size: 14px;
         font-weight: bold;
         margin-bottom: 2px;
     }
     .IMG-cont-2 {
         width: 100%;
         padding: 0;
     }
     .IMG-2 {
         width: 100%;
     }
     #Para-2 {
         padding: 0 0 0 1.5rem;
         width: 90%;
         font-weight: bold;
         margin: 2px 0;
         font-size: 12px;
         line-height: 1.1rem;
     }
     .col-5-6 {
         width: 100%;
         margin: 0;
     }
     .col-5-7 {
         display: block;
     }
     .IMG-cont-3 {
         width: 85%;
         height: 100%;
         margin: 0;
         padding: 1.4rem;
     }
     .IMG-3 {
         width: 99%;
         height: 99%;
     }
     #Link-cont {
         width: 80%;
         font-size: 1em;
         margin: -1rem 0 0 1.5rem;
         padding: 0;
     }
     #Link {
         color: black;
     }
     .box-8 {
         padding: 0;
         margin: 0;
     }
     .box-8 h1 {
         font-size: 2.4em;
         padding: 2rem;
     }
     .bx8-img-cont {
         width: 100%;
         margin: 0;
         padding: 0;
     }
     .bx8-img {
         width: 100%;
     }
     .img-p {
         font-weight: bold;
         margin: 0;
         padding: 0 10px;
         font-size: 14px;
     }
     .bx8-cont {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         margin: 0;
         font-size: 14px;
         padding: 0 1.8rem;
     }
     .box-8 h2 {
         font-size: 1.1em;
         padding: 0;
     }
     .bx8-col-2 {
         font-size: 1.2em;
         padding: 0 1.8rem;
         margin: 0;
         padding: 0;
         line-height: 1.3rem;
     }
     .bx8-col-3 {
         font-size: 1.2em;
         width: 100%;
         line-height: 1.2rem;
         margin: 0;
         padding: 0;
     }
     .box-9 {
         margin: 3rem auto;
     }
     .bx9-cont {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         gap: 10px;
     }
     .box-9 h1 {
         font-size: 2.5em;
         padding: 0 2rem;
         margin-top: -1.5rem;
     }
     .bx9-col-1 {
         font-size: 1.2em;
         padding: 0 2rem;
         width: 80%;
         line-height: 1.5rem;
         margin-top: -10px;
     }
     .bx9-img-cont {
         width: 100%;
         margin: 0;
         padding: 0;
     }
     .bx9-img {
         padding: 0;
         margin: 0;
         width: 100%;
     }
     .bx9-col-3 {
         font-size: 1.2em;
         padding: 0 2rem;
         line-height: 2rem;
         margin: 0;
     }
     .bx9-Img {
         padding: 0;
         margin: 0;
         width: 100%;
     }
     .box-10 {
         background-color: #fadee8;
         padding: 0;
         margin: 0;
     }
     .box-10 h1 {
         line-height: 4rem;
         font-size: 2.5em;
         padding: 0 2rem;
         width: 60%;
     }
     .box-10 h2 {
         font-size: 1.3em;
         padding-top: 1rem;
     }
     .bx10-bx-1,
     .bx10-cont-2 {
         font-size: 1.2em;
         width: 80%;
         padding: 0 2rem;
         line-height: 1.9rem;
     }
     .bx10-cont,
     .bx10-bx-2 {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
     }
     .bx10-col-1,
     .bx10-col-2,
     .bx10-col-3 {
         font-size: 1.1em;
         width: 80%;
         line-height: 1.5rem;
         padding: 0 2rem;
     }
     .box-11 {
         padding: 2rem;
     }
     .box-11 a {
         color: #0000ff;
         font-size: 1.2em;
         font-weight: bold;
     }
     .box-12 {
         display: block;
         line-height: 2rem;
     }
     .bx12-col-1 {
         width: 83.5%;
         padding: 2rem;
         height: 100%;
         margin: 0;
         background-color: yellow;
         border: none;
     }
     .bx12-h1 {
         font-size: 2em;
     }
     .bx12-p {
         font-size: 1.1em;
     }
     .bx12-a {
         color: #0000ff;
         font-size: 1.2em;
     }
     .bx12-col-2 {
         width: 100%;
         height: 100%;
     }
     .bx12-img-cont {
         width: 100%;
     }
     .bx12-img {
         width: 100%;
     }
     footer {
         padding: 2rem;
     }
     .footer-cont {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         line-height: 1.5rem;
     }
     .f-box-1 {
         line-height: 1.5rem;
         margin: 0;
         width: 70%;
     }
     .h1-text {
         font-size: 50px;
     }
     .input-btn-cont {
         display: flex;
     }
     #Text {
         height: 35px;
         width: 230px;
         border: none;
         background-color: #e8e5e480;
     }
     #Sign {
         background-color: #0000ff;
         color: #fff;
         font-weight: bold;
         font-size: 15px;
         height: 38px;
         width: 90px;
         border: none;
     }
     .f-link {
         color: #000;
         font-size: 1rem;
     }
     .f-box-2 {
         display: block;
         justify-content: space-between;
         padding-top: 1rem;
         font-size: 1rem;
     }
     #select {
         padding: 5px;
         width: 100px;
         height: 30px;
         border: none;
         background-color: #e8e5e480;
     }
     #select-1 {
         padding: 5px;
         width: 150px;
         height: 30px;
         border: none;
         background-color: #e8e5e480;
     }
     #f-box-2-links {
         color: #000;
         margin: 0;
         display: block;
         line-height: 2rem;
     }
     .f-box-3 {
         display: flex;
     }
     /* footer-ends here  */
 }