body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*nav starts here*/

.nav-container {
    border-bottom: 1px solid #d5b3ff;
    padding: 1rem 0;
    display: flex;
}

.nav-items-1 {
    display: flex;
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
}

#nav-logo {
    margin-left: -1.1rem;
    padding: 0;
    width: 5%;
}

.logo {
    width: 100%;
}

.txt-links {
    padding: 0 1rem;
    font-size: 1.3em;
    color: #000;
}

.txt-link {
    padding: 0 1rem;
    font-size: 1.3em;
    color: #ff764d;
}

#Nav-link-1 {
    opacity: 0;
}

.bx-plus {
    position: absolute;
    padding: 2.5px;
}

.toggle-menu {
    opacity: 0;
}

input[type="checkbox"] {
    display: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav-links-1 {
    border: 1px solid purple;
    padding: 1rem;
    color: #000;
}

.nav-link-1 {
    padding: 1rem;
    color: #ff764d;
}

.nav-items-2 {
    margin-left: 12.8rem;
    font-weight: bold;
    padding: 5px;
}

.nav-links-2 {
    color: #0000ff;
    font-size: 1.2em;
}

.nav-link-2 {
    padding: 0 1rem;
    color: #000;
    font-size: 14px;
}


/* nav ends here */


/*section starts here*/

.box-1 {
    background: url(images/image-4.jpeg) no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    padding-left: 6rem;
    padding-top: 2.5rem;
}

.items,
.items a {
    color: rgb(236, 236, 100);
    font-size: 1.5rem;
}

.items a {
    text-decoration: underline;
}

.items h2 {
    font-size: 3rem;
}

.box-2 {
    display: flex;
    justify-content: space-between;
    margin: 1rem 6rem;
    border-bottom: 1px solid#d5b3ff;
}

.sm-nav-items {
    display: flex;
    margin-left: -2.4rem;
}

.sm-nav-items-1 {
    display: flex;
    margin-left: -2.4rem;
}

.sm-nav-links {
    padding-left: 1.4rem;
    font-size: 18px;
    color: black;
}

#sm-nav-links {
    opacity: 0;
}

#sm-nav-link {
    opacity: 1;
}

.sm-nav-link {
    font-size: 18px;
    color: black;
    text-decoration: underline;
}

.box-3 {
    margin: 6rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 14px;
    row-gap: 8rem;
}

.item-1 {
    font-size: 12px;
    line-height: 1.2rem;
    width: 62%;
}

#item-link-1 {
    color: red;
}

#item-link-2 {
    color: blue;
    font-size: 1.2rem;
}

#item-link-3 {
    color: blue;
}

.amount {
    font-size: 1rem;
    text-decoration: line-through;
}

.amount-1 {
    font-size: 1rem;
    color: red;
}

#btn {
    height: 45px;
    width: 120px;
    background-color: #0000ff;
    color: #fff;
    font-weight: bold;
    border: none;
}


/*section ends here*/


/* footer-starts here  */

footer {
    border-top: 1px solid #d5b3ff;
    padding: 4rem 6rem;
}

.footer-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 1.5rem;
}

.f-box-1 {
    line-height: 1.5rem;
    margin-top: 1.5rem;
}

.h1-text {
    font-size: 50px;
}

.input-btn-cont {
    display: flex;
}

#Text {
    height: 35px;
    width: 260px;
    border: none;
    background-color: #e8e5e480;
}

#Sign {
    background-color: #0000ff;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    height: 38px;
    width: 100px;
    border: none;
}

.f-link {
    color: #000;
    font-size: 1rem;
}

.f-box-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    font-size: 1rem;
}

#select {
    padding: 5px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #e8e5e480;
}

#select-1 {
    padding: 5px;
    width: 150px;
    height: 30px;
    border: none;
    background-color: #e8e5e480;
}

#f-box-2-links {
    color: #000;
    margin: auto 5px;
}

.f-box-3 {
    display: flex;
}


/* footer-ends here  */

@media screen and (max-width:900px) {
    .nav-container {
        display: block;
        padding: 0;
    }
    .nav-items-1 {
        display: none;
        font-weight: bold;
        margin: 0;
    }
    .nav-link-1 {
        padding: 0;
        font-size: 1.2em;
    }
    .nav-links-1 {
        padding: 0;
        font-size: 1.2em;
    }
    #nav-logo {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .logo {
        width: 15%;
        padding-left: 1.2rem;
        margin: 0;
    }
    .toggle-menu {
        left: 11rem;
        top: 1.8rem;
        position: relative;
        opacity: 1;
        width: 15%;
    }
    .bx-chevron-down {
        position: absolute;
        top: 2px;
    }
    input[type="checkbox"] {
        display: none;
        left: 5rem;
        position: relative;
    }
    input[type="checkbox"]:checked~ul {
        display: block;
        height: 700px;
        line-height: 4rem;
        background-color: blue;
    }
    ul {
        display: none;
    }
    .txt-link {
        color: #ff764d;
    }
    .txt-links {
        color: #fff;
        font-weight: lighter;
        padding: 0 1rem;
    }
    .bx-plus {
        opacity: 0;
    }
    #Nav-link-1 {
        opacity: 1;
        padding: 0 1rem;
    }
    .Nav-Links-1 {
        color: #fff;
    }
    .Nav-Link-1 {
        color: #fff;
        font-weight: lighter;
        font-size: 12px;
    }
    .nav-items-2 {
        display: none;
    }
    .nav-links-2 {
        font-size: 1.2em;
    }
    .nav-links-2 {
        font-size: 1.2em;
    }
    /* nav ends here */
    .box-1 {
        background: url(images/image-4.jpeg) no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
        margin: 0;
        padding: 1rem 0;
    }
    .items,
    .items a {
        color: rgb(236, 236, 100);
        font-size: 1.1rem;
        width: 80%;
        padding: 0 1.2rem;
        border: none;
    }
    .items a {
        text-decoration: underline;
    }
    .items h2 {
        font-size: 2.1rem;
    }
    .p {
        color: blueviolet;
        padding: 0 1.3rem;
        font-size: 1.1em;
        margin-top: -1.2rem;
        width: 70%;
    }
    #a {
        color: blueviolet;
        width: 70%;
        padding: 0 2.3rem;
        font-size: 1.1em;
        margin-top: -1.4rem;
    }
    .box-2 {
        display: flex;
        justify-content: space-between;
        margin: 0;
        border-bottom: 1px solid#d5b3ff;
        max-width: 100%;
        overflow-x: scroll;
    }
    .sm-nav-items {
        width: 700px;
        display: inline-flex;
        margin: 0;
        padding: 1rem;
    }
    .sm-nav-links {
        width: 100%;
        padding-left: 1.4rem;
        font-size: 18px;
        color: black;
    }
    .sm-nav-link {
        font-size: 18px;
        color: black;
        text-decoration: underline;
    }
    #sm-nav-links {
        opacity: 1;
        width: 100%;
        padding-left: 1.4rem;
        font-size: 18px;
        color: black;
    }
    #sm-nav-link {
        opacity: 0;
    }
    .box-3 {
        margin: 0;
        padding: 0 1.5rem;
    }
    .container {
        display: block;
    }
    .item-1 {
        font-size: 12px;
        line-height: 1.2rem;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #item-link-1 {
        color: red;
    }
    #item-link-2 {
        color: blue;
        font-size: 1.2rem;
    }
    #item-link-3 {
        color: blue;
    }
    .amount {
        font-size: 1rem;
        text-decoration: line-through;
    }
    .amount-1 {
        font-size: 1rem;
        color: red;
    }
    #btn {
        height: 45px;
        width: 120px;
        background-color: #0000ff;
        color: #fff;
        font-weight: bold;
        border: none;
    }
    /*main ends here*/
    footer {
        padding: 2rem;
    }
    .footer-cont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        line-height: 1.5rem;
    }
    .f-box-1 {
        line-height: 1.5rem;
        margin: 0;
        width: 70%;
    }
    .h1-text {
        font-size: 50px;
    }
    .input-btn-cont {
        display: flex;
    }
    #Text {
        height: 35px;
        width: 230px;
        border: none;
        background-color: #e8e5e480;
    }
    #Sign {
        background-color: #0000ff;
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        height: 38px;
        width: 90px;
        border: none;
    }
    .f-link {
        color: #000;
        font-size: 1rem;
    }
    .f-box-2 {
        display: block;
        justify-content: space-between;
        padding-top: 1rem;
        font-size: 1rem;
    }
    #select {
        padding: 5px;
        width: 100px;
        height: 30px;
        border: none;
        background-color: #e8e5e480;
    }
    #select-1 {
        padding: 5px;
        width: 150px;
        height: 30px;
        border: none;
        background-color: #e8e5e480;
    }
    #f-box-2-links {
        color: #000;
        margin: 0;
        display: block;
        line-height: 2rem;
    }
    .f-box-3 {
        display: flex;
    }
}