body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* nav-starts-here */

.nav-container {
    border-bottom: 1px solid #d5b3ff;
    padding: 1.2rem 0;
    display: flex;
}

.nav-items-1 {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding-left: 8px;
}

#nav-logo {
    margin-left: 0;
    padding: 0;
}

.logo {
    width: 100%;
}

.txt-links {
    padding: 0 10px;
    color: #000;
}

.txt-link {
    padding: 0 10px;
    color: #ff764d;
}

#Nav-link-1 {
    opacity: 0;
}

.bx-plus {
    position: absolute;
    padding: 2.5px;
}

.toggle-menu {
    opacity: 0;
}

input[type="checkbox"] {
    display: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav-links-1 {
    border: 1px solid purple;
    padding: 1rem;
    color: #000;
}

.nav-link-1 {
    padding: 1rem;
    color: #ff764d;
}

.nav-items-2 {
    margin-left: 8.5rem;
    font-weight: bold;
}

.nav-links-2 {
    color: #0000ff;
    font-size: 1.2em;
}

.nav-link-2 {
    padding: 0 1rem;
    color: #000;
    font-size: 13px;
}


/* nav-ends here */

.container {
    display: flex;
    justify-content: space-between;
}

.box-1 {
    background: url(images/image-10.jpeg) no-repeat;
    width: 60%;
    height: 500px;
    color: yellow;
    background-size: cover;
    padding-left: 2.8rem;
}

.box-1 a {
    color: yellow;
    font-size: 25px;
    text-decoration: underline;
}

.a-cont {
    margin-top: -2rem;
}

.bx-1-hd {
    font-size: 50px;
}

.box-2 {
    margin-top: 15.6rem;
    padding-left: 2rem;
    width: 30%;
    height: 250px;
    background: url(images/image-10.jpeg) no-repeat;
    background-size: cover;
    color: violet;
}

.bx-1-hd-1 {
    color: violet;
    font-size: 26px;
}

.a-cont-1 {
    margin-top: -1.5rem;
}

.box-2 a {
    color: violet;
    font-size: 22px;
    text-decoration: underline;
}

.box-3 {
    position: relative;
    left: 38rem;
    top: -3rem;
    width: 33%;
    height: 250px;
    background: url(images/img-2.jpeg) no-repeat;
    background-size: cover;
    color: blue;
    padding: 1rem 0 0 1.5rem;
}

.bx-1-hd-2 {
    font-size: 26px;
}

.a-cont-2 {
    margin-top: -1rem;
    color: blue;
}

.a-cont-2 a {
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}


/* section starts  here */

h2 {
    font-size: 2rem;
}

#sm-link-1 {
    color: lightskyblue;
}

.sm-link-1 {
    color: #000000;
    font-size: 1.3rem;
}

#sm-link-2 {
    color: orange;
}

#sm-Link-2 {
    color: rgb(255, 0, 217);
}

#sm-link-3 {
    color: lightskyblue;
}

.container-2 {
    margin: 6rem;
}

.sec-2-box-2 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 1.5rem;
    margin-top: -1rem;
}

.sec-2-box-2-links {
    margin-top: 2.5rem;
}

#sec-2-box-2-links {
    color: #0000ff;
    font-size: 1.3rem;
    padding-left: 14px;
    margin-top: 1rem;
}

.sec-2-box-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* section ends  here */

.sec-box-links {
    margin-top: 2.8rem;
    padding-top: 4rem;
    text-align: center;
    border: none;
    height: 100px;
    background-color: #dbdada;
}

#sec-box-link {
    color: #000000;
    font-size: 1.3rem;
    padding-left: 14px;
    margin-top: 1rem;
}

#sec-box-links {
    color: #0000ff;
    font-size: 1.3rem;
    padding-left: 14px;
    margin-top: 1rem;
}


/* footer-starts here  */

footer {
    border-top: 1px solid #d5b3ff;
    padding: 4rem 7.3rem;
}

.footer-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 1.5rem;
}

.f-box-1 {
    line-height: 1.5rem;
    margin-top: 1.5rem;
}

.h1-text {
    font-size: 50px;
}

.input-btn-cont {
    display: flex;
}

#Text {
    height: 35px;
    width: 260px;
    border: none;
    background-color: #e8e5e480;
}

#Sign {
    background-color: #0000ff;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    height: 38px;
    width: 100px;
    border: none;
}

.f-link {
    color: #000;
    font-size: 1rem;
}

.f-box-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    font-size: 1rem;
}

#select {
    padding: 5px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #e8e5e480;
}

#select-1 {
    padding: 5px;
    width: 150px;
    height: 30px;
    border: none;
    background-color: #e8e5e480;
}

#f-box-2-links {
    color: #000;
    margin: auto 5px;
}

.f-box-3 {
    display: flex;
}


/* footer-ends here  */

@media screen and (max-width: 900px) {
    .nav-container {
        display: block;
        padding: 10px;
    }
    .nav-items-1 {
        display: none;
        font-weight: bold;
        margin: 0;
    }
    .nav-link-1 {
        padding: 0;
        font-size: 1.2em;
    }
    .nav-links-1 {
        padding: 0;
        font-size: 1.2em;
    }
    .logo {
        width: 17%;
        margin: 0;
    }
    .toggle-menu {
        margin-top: 12px;
        opacity: 1;
        width: 15%;
        float: right;
    }
    .bx-chevron-down {
        position: absolute;
        top: 1.5rem;
    }
    input[type="checkbox"] {
        display: none;
        left: 5rem;
        position: relative;
    }
    input[type="checkbox"]:checked~ul {
        display: block;
        height: 700px;
        line-height: 4rem;
        background-color: blue;
    }
    ul {
        display: none;
    }
    .txt-links {
        color: #fff;
        font-weight: lighter;
        padding: 0 1rem;
    }
    .bx-plus {
        opacity: 0;
    }
    #Nav-link-1 {
        opacity: 1;
        padding: 0 1rem;
    }
    .Nav-Links-1 {
        color: #fff;
    }
    .Nav-Link-1 {
        color: #fff;
        font-weight: lighter;
        font-size: 12px;
    }
    .nav-items-2 {
        display: none;
    }
    .nav-links-2 {
        font-size: 1.2em;
    }
    .nav-links-2 {
        font-size: 1.2em;
    }
    /* nav ends here */
    .container {
        display: block;
        justify-content: safe;
        border: none;
    }
    .box-1 {
        background: url(images/image-10.jpeg) no-repeat;
        width: 100%;
        height: 300px;
        color: yellow;
        background-size: cover;
        padding: 0;
        margin: 0;
    }
    .box-1 a {
        color: yellow;
        font-size: 1rem;
        text-decoration: underline;
    }
    .a-cont {
        text-align: center;
        margin-top: -10px;
    }
    .bx-1-hd {
        line-height: 2rem;
        padding: 2rem;
        font-size: 1.6em;
        margin: 0;
    }
    .box-2 {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 250px;
        background: url(images/image-10.jpeg) no-repeat;
        background-size: cover;
        color: violet;
    }
    .bx-1-hd-1 {
        color: violet;
        line-height: 2rem;
        padding: 2rem;
        font-size: 1.6em;
    }
    .a-cont-1 {
        text-align: center;
        margin-top: -3rem;
    }
    .box-2 a {
        color: violet;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: underline;
    }
    .box-3 {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 250px;
        background: url(images/img-2.jpeg) no-repeat;
        background-size: cover;
        color: orange;
        padding: 0;
    }
    .bx-1-hd-2 {
        line-height: 2rem;
        padding: 2rem;
        font-size: 1.6em;
    }
    .a-cont-2 {
        text-align: center;
        margin-top: -3rem;
    }
    .a-cont-2 a {
        color: orange;
        font-weight: bold;
        text-decoration: underline;
        font-size: 1rem;
    }
    /* section starts  here */
    h2 {
        font-size: 1.2rem;
    }
    #sm-link-1 {
        color: lightskyblue;
    }
    .sm-link-1 {
        color: #000000;
        font-size: 1rem;
    }
    #sm-link-2 {
        color: orange;
    }
    #sm-Link-2 {
        color: rgb(255, 0, 217);
    }
    #sm-link-3 {
        color: lightskyblue;
    }
    .container-2 {
        margin: 0;
        padding: 0 1.5rem;
    }
    .sec-2-box-2 {
        display: block;
        justify-content: safe;
        width: 100%;
        margin: 0;
    }
    .sec-2-box-2-links {
        margin: 0;
    }
    #sec-2-box-2-links {
        color: #0000ff;
        font-size: 1em;
        margin: 0;
        padding: 0;
    }
    .sec-2-box-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem 0;
    }
    .col {
        padding: 1.2rem 0;
    }
    /* section ends  here */
    .sec-box-links {
        margin: 0;
        padding: 1rem 0;
        text-align: justify;
        height: 50px;
        width: 100%;
        overflow-x: scroll;
    }
    #sec-box-links-cont {
        width: 1000px;
        padding: 1rem 0;
    }
    #sec-box-link {
        display: none;
    }
    #sec-box-links {
        color: #0000ff;
        font-size: 1.1em;
        padding: 1rem 1.5rem;
        margin: 0;
        overflow-x: scroll;
    }
    footer {
        padding: 2rem;
    }
    .footer-cont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        line-height: 1.5rem;
    }
    .f-box-1 {
        line-height: 1.5rem;
        margin: 0;
        width: 70%;
    }
    .h1-text {
        font-size: 50px;
    }
    .input-btn-cont {
        display: flex;
    }
    #Text {
        height: 35px;
        width: 230px;
        border: none;
        background-color: #e8e5e480;
    }
    #Sign {
        background-color: #0000ff;
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        height: 38px;
        width: 90px;
        border: none;
    }
    .f-link {
        color: #000;
        font-size: 1rem;
    }
    .f-box-2 {
        display: block;
        justify-content: space-between;
        padding-top: 1rem;
        font-size: 1rem;
    }
    #select {
        padding: 5px;
        width: 100px;
        height: 30px;
        border: none;
        background-color: #e8e5e480;
    }
    #select-1 {
        padding: 5px;
        width: 150px;
        height: 30px;
        border: none;
        background-color: #e8e5e480;
    }
    #f-box-2-links {
        color: #000;
        margin: 0;
        display: block;
        line-height: 2rem;
    }
    .f-box-3 {
        display: flex;
    }
}